{cover_enabled, true}.
{cover_opts, [verbose]}.
{erl_opts, [debug_info]}.
{eunit_opts, [{eunit_formatters, false}]}.
{deps, []}.
{dialyzer, [{warnings, [error_handling,
                        no_behaviours,
                        no_contracts,
                        no_fail_call,
                        no_fun_app,
                        no_improper_lists,
                        no_match,
                        no_opaque,
                        no_undefined_callbacks,
                        no_unused,
                        %%overspecs,
                        race_conditions,
                        %%underspecs,
                        unmatched_returns]},
            {plt_apps, all_deps}]}.
{yrl_opts, []}.

